// https://colorhunt.co/palette/11052c3d087bf43b86ffe459

$font-family-sans-serif: "Poppins", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$primary: #ffe459;
$secondary: #3d087b;
$dark: #11052c;

@import "~bootstrap/scss/bootstrap.scss";
